 @import 'https://fronts.googleapis.com/css?family=Pacifico|Dosis';

 
body { 
	background-color: #333333;
	background: url(http://blog.hostbaby.com/backgrounds/bg_lightwoodfloor.jpg) ;
	color:  #dddddd;
	/*min-width: 800px;*/ /* <---do we even need this?*/
	margin: 0 auto; 
	
}
.current {
	color: #ff5500;
}


header {
	height: 3em;
}

h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
	margin-top: .7em;
	margin-bottom: .7em;
}
h2 {
	font-size: 1.8em;
	margin-top: .5em;
	margin-bottom: .5em;
}
h3 {
	font-size: 1.5em;
	margin-top: .3em;
	margin-bottom: .3em;
}

nav ul {

	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}


nav ul li {
	float: left;
}


nav ul li a {
	display: block; 
	color: #757575; 
}


nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	



img {
	text-align: center; 
}

.centerFieldset {
    text-align: center;
}
.centerFieldset fieldset{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
#usersTable {
    width: 60%;
}

#history table {
    border-spacing: 5px;
}

#history table, th{
    border: 1px solid white;
    text-align: left;
}
#history table tr:nth-child(even) {background-color: #757575}

#login legend {
	font-size: 2em;
	background-color: #333333;
	padding: 0 .2em;
    
}
#login input {
	border-radius: .5em;
	padding-left: .5em;
	margin-bottom: .7em;
}

#login input,
#login label {
	font-size: 1em;							
}

#login input[type="submit"] {
	padding: .3em;
	margin-top: .9em;
}
nav a.current {
	color: #ff550;
}
nav a {
	front-size: 2em;
	color: #dddddd;
	text-decoration: none;
	padding: 0 .5em 0 .5em;
}
nav a:hover {
	color: #ffffff;
}
#login fieldset { 
	border: 1px solid #dddddd;	
	border-radius: .5em;
	padding: .5em;
    margin: 0 auto;
}

nav ul {
	padding-top: .5em;
	text-align: center;
}
nav li {
	display:inline;
}

html, body {
	height: 100%;
}									

header {
	background-color: #444444;
	text-transform: uppercase;
    font-size: 25px;
}

main {
	padding-bottom: 2em;
}
@media screen and (aspect-ratio: 16/9) {
	body {
		font-size: 15pt;
		background-color: #00b36b;
	}
}
@media only screen and (max-width: 850px) {
	body {
		font-size: 80%;
	}
	#locations div {
		width: 80%;
		float: none;
		border: none;
		margin: 0 auto;
	}
	main#start-page {
		height: auto;
	}
	#logotype {
		right: .2em;
	}
}


/*Are these used? */
#leftbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 1px; 
    border: 3px solid blue; 
}

#rightbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 5px; 
    border: 3px solid green; 
}						


#beverageWrapper {
	
	border: 5px solid #dddddd;
	text-align: left;
    
	display: block; 
	position: absolute; 
    top: 100px;
    left: 50px;
	height: 950px; 
	width: 770px; 
    background-color: transparent;
    color:  #333333;

    
}
.aBeverage {
	float: left; 
	display: inline-block;
	padding: 0.7em;
	margin: auto;
	text-align: left;
}


/*This is the wrapper for the whole cart*/
.beverageArea {
	text-align: right; 
    	height: 500px;
	width: 400px; 
    	margin: 5px; 
    	border: 3px solid black; 
 	position: absolute;
	bottom: 0;
	right: 0;
	background: white;
    	color:red;

}

/*This is the header of the Cart*/
#myH {

    margin-top: -30px; 


    text-align: start; 
    /*background: white;*/
}

.hide{
  display:none;  
}


/*MODAL ------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /*width: 25%;*/ /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.menu-button{
    display:none;
}

@media only screen and (max-width: 924px){
    #beverageWrapper {
        border: 5px solid white; 
	   position: absolute; 
        top: 100px;
        left: 50px;
	   height: 950px; 
	   width: 770px; 

    }
    body {
        max-width: 924px;
    }
    header {
        font-size: 25px;
        position: relative;
    }
    #usersTable {
        width: 100%;
    }
	.menu-button{
	    position: absolute;
 	    top: 20px;
 	    width: 200px;
  	    height: 50px;
 	    border-radius: 8px;
 	    background: #444444;
  	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	    vertical-align: center;
  	    margin-left:20px;
  	    cursor:pointer;
  	    color: #ff5500;
  	    display:block;
    	    font-size: 25px;
    	    font-family: "Times New Roman", Times, serif;
    	    text-align: center;
  	  }
	.grandparent{
  	      background: white;
 	      display: none;
    	}
