
 @import 'https://fronts.googleapis.com/css?family=Pacifico|Dosis';

html {
	front-size: 30px;
}
body { 
	background-color: #333333;
	color: #dddddd;
	front-family: Dosis, sans-serif;
	min-width: 800px;
}
.current {
	color: #ff5500;
}
#login,
#about,




#login input[type="radio"] {
	height: .7em;
	width: .7em;
}

#login legend {
	font-size: 2em;
	background-color: #333333;
	padding: 0 .2em;
}
#login input {
	border-radius: .5em;
	padding-left: .5em;
	margin-bottom: .7em;
}
#login select,
#login textarea {
	margin-bottom: .7em;
}
#login input,
#login label,
#login select,
#login textarea,
#login .radioheader {
	font-size: 1em;							
}
#login textarea {
	width: 100%;
}
#login input[type="submit"] {
	float: right;
	padding: .1em;
	margin-top: .7em;
}
nav a.current {
	color: #ff550;
}
nav a {
	front-size: 2em;
	color: #dddddd;
	text-decoration: none;
	padding: 0 .5em 0 .5em;
}
nav a:hover {
	color: #ffffff;
}
#login fieldset { 
	border: 1px solid #dddddd;	
	border-radius: 1em;
	padding: 1em;
	
}
nav ul {
	padding-top: .5em;
	text-align: center;
}
nav li {
	display:inline;
}
h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
	margin-top: .7em;
	margin-bottom: .7em;
}
h2 {
	font-size: 1.8em;
	margin-top: .5em;
	margin-bottom: .5em;
}
h3 {
	font-size: 1.5em;
	margin-top: .3em;
	margin-bottom: .3em;
}
html, body {
	height: 100%;
}						
#banners {
	height: 50%;
}				
#banner { 
	height: 90%;
	background: url("../img/banners/1.jpg") no-repeat left center;
	background-size: cover;
}				
#locations span.pin {
	height: 2em;
	width: 2em;
	background: url("../img/grey-pin.png") no-repeat center top;
	background-size: 100% 100%;
	margin: .1 auto;
	display: block;
}
#locations div:hover span.pin {
	background-image: url("../img/red-pin.png");
}
#locations div {
	width: 24.8%;
	float: left;
}
#locations div:last-child {
	border-right: none;
}

#logotype {
	position: absolute;
	right: 1em;
	top: .5em;
	font-family: 'Pacifico', cursive;
	font-size: 5em;
	color: #ff5500;
	text-shadow: 5px 5px 1px #ffffff;
	font-weight: normal;
}
header, footer {
	background-color: #444444;
	text-transform: uppercase;
}
header {
	height: 3em;
}
footer {
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0;
	margin-top: 1em;	
}

footer p {
	text-align: center;
	font-size: 1em;
	padding-top: 0;
}
main {
	padding-bottom: 2em;
}
@media screen and (aspect-ratio: 16/9) {
	body {
		font-size: 15pt;
		background-color: #00b36b;
	}
}
@media only screen and (max-width: 850px) {
	body {
		font-size: 80%;
	}
	#locations div {
		width: 80%;
		float: none;
		border: none;
		margin: 0 auto;
	}
	main#start-page {
		height: auto;
	}
	#logotype {
		right: .2em;
	}
}
#cakes figure {
	width: 30%;
	padding: 1.5%;
	float: left;
	text-align: center;
    margin: 2em;
}
#cakes figure img {
	width: 70%;
	border: .3em solid #ffffff;
}
#cakes figcaption {
	padding-top: .2em;
	font-weight: bold;
	font-size: .8em;
	height: 2em;
}
						
						

#leftbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 5px; 
    border: 3px solid blue; 
}

#rightbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 5px; 
    border: 3px solid green; 
}						
