 @import 'https://fronts.googleapis.com/css?family=Pacifico|Dosis';

 
body { 
	background-color: #333333;
	background: url(https://s-media-cache-ak0.pinimg.com/originals/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.png);
	background-repeat: repeat;
	font-size: 20px;
	color:  black;
	margin: 0 auto;
	max-height: 768; 
	max-width: 1024;

	
}
.current {
	color: #ff5500;
}

#currentuser {
	position: absolute;
	width: 200px;
	right: 0px;
	font-size: 1.2em;
	font-family: serif;
	font-style: italic;
}

#scrollimage {
	position: fixed;
	left: 0px;
	bottom: 300px;
	height: 297px;
	width: 40px;
	background-image: url(../Pictures/scrollbarimage.png);
	background-repeat: no-repeat;
	

}

#adduserform {
	font-size: 1em;
	font-weight: bold;
	width: 200px;
  	margin:left;
  	left:10px;
}

#adduserform input {
	font-size: 1.2em;
}

header {
	height: 3em;
}

h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
	margin-top: .7em;
	margin-bottom: .7em;
}
h2 {
	font-size: 1.8em;
	margin-top: .5em;
	margin-bottom: .5em;
}
h3 {
	font-size: 1.5em;
	margin-top: .3em;
	margin-bottom: .3em;
}

nav ul {

	box-shadow: inset 0px 0px 9px 9px rgba(255,255,255,0.80);
	border: 0px solid black;
	width: 100%;
	padding: 0 20px;
	border-radius: 5px;
	list-style: none;
	position: relative;
	display: inline-table;
}


nav ul li {
	float: left;
}


nav ul li a {
	display: block; 
	color: black; 
}


nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	



img {
	text-align: center; 
}

.centerFieldset {
    text-align: center;
}
.centerFieldset fieldset{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: none;
}
#usersTable {
    width: 100%;
    border-collapse: collapse;
}

#usersTable button {

	color: black;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	background-color: deepskyblue;
	opacity: 0.9;
	width: 60px;
	height:40px;
	text-align: center;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.80);	
}

#drinktable {
	margin-left: 50px;
}

#history table {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 5px;
	color: black;
	width: 100%;
}

#history table, th{
    border: 1px solid black;
    text-align: left;
}
/*#history table tr:nth-child(even) {text-decoration: underline;} 
#history table tr:nth-child(odd) {background-color: white;}*/

#login {
	margin-top: 4em; 
}

#login legend {
	font-size: 2em;
	font-family: serif;
	font-style: italic;
	color: black; 
	background-color: none;
	padding: 0.5em;
    
}
#login input {
	/*border-radius: .5em;*/
	padding-left: .5em;
	margin-bottom: .7em;
}

#login input,
#login label {
	font-size: 1.8em;							
}

#login input[type="submit"] {
	padding: .3em;
	margin-top: .9em;
}

/*Login button options*/
.loginbutton {	
	  display: inline-block;
	  padding: 10px 10px;
	  font-size: 5px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #fff;
	  background-color: #4CAF50;
	  border: none;
	  border-radius: 5px;
	  box-shadow: 0 5px #888;

}

.loginbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/*Logoff button options*/
.logoffbutton {					
	  background-color: red;
	  opacity: 0.8;
	  text-align: right;
	  position: absolute;				
	  margin-right: 45px;
	  margin-top:-10px;
	  right: 0;	
	  border-radius: 5px;
	  height: 35px;
}

/*Usernameimage*/
#username {
	background-image: url(http://www.samsyn.is/img/ManSilhouette.png);
	background-size: 30px 30px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
}

/*Passwordimage*/
#password {
	background-image: url(http://www.myiconfinder.com/uploads/iconsets/256-256-9bf01d3a6da700873303e2b4197c3e99-lock.png);
	background-size: 30px 30px;
    background-position: 5px 10px; 
    background-repeat: no-repeat;
}

/*Language Option Placement*/
#flags {
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}


nav a.current {
	background-color: white ; 
	opacity: 0.9; 
	border-radius: 5px; 
	color: forestgreen; 
}
nav a {
	/*front-size: 2em;
	color: #dddddd;*/
	text-decoration: none;
	padding: 0 .5em 0 .5em;
}

#login fieldset { 
    	margin: 0 auto;
}


nav ul {
	padding-top: .5em;
	text-align: center;
}
nav li {
	display:inline;
}

/*This is for the drop-down menu*/
nav select {
  display: none;
    position: relative;
} /* End */

html, body {
	height: 100%;
}									

header {
	font-family: serif;
	font-style: italic;
	background-color: none;
    	font-size: 25px;
}

main {
	padding-bottom: 2em;
}
@media screen and (aspect-ratio: 16/9) {
	body {
		font-size: 15pt;
		background-color: #00b36b;
	}
}
@media only screen and (max-width: 900px) {
	body{
	}
	#locations div {
		width: 80%;
		float: none;
		border: none;
		margin: 0 auto;
	}
	main#start-page {
		height: auto;
	}
	#logotype {
		right: .2em;
	}
}


/*Are these used? */
#leftbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 1px; 
    border: 3px solid blue; 
}

#rightbox {
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 5px; 
    border: 3px solid green; 
}						


#beverageWrapper {

	text-align: left;
	display: block; 
	position: absolute; 
  	top: 100px;
   	left: 50px;
	height: 950px; 
	width: 770px; 
  	background-color: transparent;
   	color:  #333333;

    
}
.aBeverage {
	color: black; 
	font-weight: bold; 
	float: left; 
	display: inline-block;
	padding: 0.7em;
	margin: auto;
	text-align: left;
}


/*This is the wrapper for the whole cart-----------------------------------------------*/
.beverageArea {
	text-align: right; 
   	height: 550px;
	width: 400px; 
	margin: 5px; 
	
 	border: 2px solid black; 
	border-collapse: collapse;
    	border-radius: 5px;
   	box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.80);		
 	position: fixed;				
 	bottom: 0;
	right: 0;
	
	background-image: url(../Pictures/Dragndrop3.png); 
	background-repeat: no-repeat;		
	background-position: center;		
	
  	color: black;			

}

.plusButton {			
	color: black;
	font-size: 25px;
	background-color: lightgreen;
	opacity: 0.9;
	width: 40px;
	height:40px;
	border: none;
	border-radius: 4px;
}

.minusButton {			
	color: black;
	font-size: 25px;
	border: none;
	border-radius: 4px;
	background-color: red;
	opacity: 0.9;
	width: 40px;
	height:40px;
}

#buyButton {			
	color: black;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	background-color: lightgreen;
	opacity: 0.9;
	width: 60px;
	height:40px;
}
#abortButton {			
	color: black;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	background-color: red;
	opacity: 0.9;
	width: 60px;
	height:40px;
}

/*This is the header of the Cart*/
#myH {	
	margin-top: -20px;		
	height: 20px;			
	width: 100%;
	font-size: 20px;
	font-weight: bold;
    	text-align: center;						
 	color: black;
  
}

#cart {
        font-size: 20px;
        text-decoration: bold;
        width: 100%; 
   
        border: 1px solid black;
  	border-collapse: collapse;
	border-radius: 2px;
	border-spacing: 5px;
	color: black;
	text-align: left;
	align-content: left;
}

#justaline {
	border-bottom: 1px solid black;
}

#sumtotal2 {
	text-align: right;
}

.hide{
  display:none;  
}


/*MODAL ------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.adduserbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /*width: 25%;*/ /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 900px){
	
    #currentuser {
	    top: 10px
	}
	
    .beverageArea {
	background-color: white;
	height: 300px;
	width: 300px;
	bottom: 100px;    
	}
	
    #beverageWrapper {
        
	   position: absolute; 
        top: 100px;
        left: 50px;
	   height: 950px; 
	   width: 770px; 

    }
    body {
        max-width: 900px;
	     width: 100%;
    }
    header {
        font-size: 25px;
        position: relative;
    }
    #usersTable {
        width: 100%;
    }	
    .grandparent{
  	 background: white;
 	 display: none;
    }
	nav ul { display: none;
    }
	nav select { 
		display: inline-block;
		min-width: 180px;
		max-width: 180px;
		background-color: white;
		padding: 8px 16px;
		text-align:center;
		width: 25%;
		height: 20%;
		font-size: 40px;
		top: 20px;
		left:30px;
	}
	@media only screen and (max-width: 450px){
        #usersTable{
            font-size: 15px;
            width: 100%;
		}
	}
